{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<title>Landing Page</title>
<head>
  <link rel="stylesheet" type="text/css" href="{%static 'stylesheet.css' %}"/>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="width: 30%; margin: auto;" class = "jumbotron">
<h1>Halo, apa kabar?</h1>
<section>
  <div>
        <div>
          <form id="form" method="POST" action= "">
            {% csrf_token %}
            {{ form.as_p }}
            <input id="submit" type="submit" class="btn btn-lg btn-info" value="Submit">
          </form>
          <br><br>
        </div>
    </div>
</section>

  <table class = "table" id "table>
    <thead>
      <th>Status</th>
    </thead>
    <tbody>
      {% for i in status %}
      {% if i.status == 'Anonymous' %}
      <tr class = "warning"> {% else %} <tr class = "success">
        {% endif %}
        <td> {{i.status}} </td>
      </tr>
      {% endfor %}  
    </tbody>
  </table>
</script>

<a href="/profil/" class = "btn btn-default">Profile</a>
</body>
</html>